:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-left: 20px;
}

ul {
    font-size: x-large;
}

#create-note-form{
    margin: 30px;
    margin-left: 20px;
}